@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Caveat&family=Lora:ital,wght@1,700&family=Merriweather&family=Orbitron:wght@500&family=Space+Grotesk:wght@300&display=swap');

.holderDiv {
display: flex;
flex-direction: row;
}

.wholeBackground{
    background: firebrick;
}

.column1 {
    /* border: solid 5px linear-gradient(to bottom right, #2d3436, black); */
    height: 300px;
  width: 33.33%;
  padding: 10px;
}

.column2 {
    /* border: solid 5px linear-gradient(to bottom right, #2d3436, black); */
    height: 500px;
  width: 33.33%;
  padding: 10px;
  height: 300px;
  
}

.column3 {
    
    padding-left: 50%;
    /* border: solid 5px linear-gradient(to bottom right, #2d3436, black); */
    height: 300px;
  width: 33.33%;
  padding: 10px;

}

/* .navLink {
    border-radius: 10px;
    border-top: solid 1px #2d3436;
    border-right: solid 3px #2d3436;
} */

.navLink:hover {
    transform: scale(1.4) translateX(-25%);

    transition : .5s;
}

.topInnerDiv {
    text-align: left;
    border-radius: 10px;
    /* border-top: solid 2px #2d3436; */
    /* border-left: solid 3px #2d3436; */
    font-size: 40px;
    color: white;
    font-family: JetBrains+Mono;
    height: 30%;
    
}

.topInnerDiv2 {
    text-align: right;
    /* border-radius: 10px; */
    /* border-top: solid 1px #2d3436; */
    /* border-right: solid 3px #2d3436; */
    font-size: 20px;
    color: white;
    font-family: JetBrains+Mono;
    height: 30%;
    
}

.bottomInnerDiv {
    height: 70%;
    /* border: solid 2px yellow; */
}

.midTopDiv {
    margin-top: 90px;
    height: 73%;
    border: solid 5px white;
    border-radius: 10px;
}

.midBottomDiv {
    color: white;

    font-family: Orbitron;
    white-space: nowrap;
    font-size: 40px;
    height: 30%;
    
}

.middlePicture {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 768px) {
    .headImg {
        margin-bottom: 64px;
    }
    .column1 {
        width: 0%;
        height: 350px;
    }
    .column2 {
        width: 75%;
    }
    .column3 {
        width: 0%;
    }
    .midTopDiv {
        margin-top: 115px;
    }
}