

.App{
    background-image: url("../public/galaxy_background.jpeg");
    background-size: cover;
}

.Header{
    display: flex;
}
.project-name{
    width: 33vw;
    text-align: center;
    padding-top: 15px;
    font-weight: 800;
    background-image: url("../public/shooting_star.gif");
    background-size: cover;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
}

.nav>ul {
    list-style: none;
    padding-left: 0rem !important;
    display: flex;
    justify-content: space-between;
}

.nav>ul>li {
    border: 5px solid red;
    padding: 5px;
    background-color: black;
}

.nav>ul>li:hover {
    transform: scale(1.4) translateY(35%);
    transition : .5s;
    box-shadow: 1px 1px 50px 20px rgb(248, 245, 89);
}

.nav>ul>li>a {
    font-size: 30px;
}

footer{
    color: white;
}

a {
    color: white !important;
    text-decoration: none !important;
    font-size: 20px;
    font-weight: 700;
}

.nav {
    display: block !important;
    width: 63vw;
}

img {
    float: right;
}

@media screen and (max-width: 768px) {
    .nav>ul {
        display: block !important;
    }
    .nav>ul>li>a {
        font-size: 23px;
    }
}